<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <h:head>
	  	<title>Invalido</title>
	  </h:head>
	  <h:body>
	  	<h:form>
	  		<div>
	  			<h3>Password invalida porfavor vuelva a intentarlo</h3>
	  		</div>
	  	</h:form>
	  	<div>
	  	
	  	</div>
	  	
	  </h:body>
	  </html>